article {
<<<<<<< HEAD
  padding: 3rem 1.5rem;
=======
  padding: 48px 24px;
>>>>>>> 4238938ccb13832c7ec25a3963a912c39b98f965
}

.about {
  background-color: var(--primarygreen);
  text-align: center;
<<<<<<< HEAD
  position: relative;
  color: white;
  padding-bottom: 4rem;
=======
  color: white;
  padding-bottom: 8rem;
>>>>>>> 4238938ccb13832c7ec25a3963a912c39b98f965
}

.about-p {
  margin-top: 1rem;
}

.directors {
  background-color: var(--secondarygreenJUN);
<<<<<<< HEAD
  position: relative;
  color: white;
  text-align: center;
  z-index: 1;
  padding-bottom: 6.25rem;
=======
  color: white;
  text-align: center;
>>>>>>> 4238938ccb13832c7ec25a3963a912c39b98f965
}

.director-container {
  background-color: var(--secondarygreenSACR);
}

.clients {
  background-color: var(--secondarygreenSACR);
  color: white;
  text-align: center;
}

img {
  width: 40%;
}

.client-logo {
  margin: 2rem;
}
<<<<<<< HEAD

.about-pattern {
  position: absolute;
  right: -5rem;
}

.director-pattern-circle {
  position: absolute;
  left: -5rem;
  bottom: 6.25rem;
  z-index: 2;
}

.director-pattern-square {
  position: absolute;
  right: 0;
}

.clients-pattern {
  position: absolute;
  left: -5rem;
}
=======
>>>>>>> 4238938ccb13832c7ec25a3963a912c39b98f965
