article {
  padding: 3rem 1.5rem;
}

.about {
  background-color: var(--primarygreen);
  text-align: center;
  position: relative;
  color: white;
  padding-bottom: 4rem;
  z-index: 1;
}

.about-p {
  margin-top: 1rem;
}

.directors {
  background-color: var(--secondarygreenJUN);
  position: relative;
  color: white;
  text-align: center;
  z-index: 1;
  padding-bottom: 9rem;
  padding-top: 5rem;
}

.card__face {
  background-color: var(--secondarygreenSACR);
  padding: 2rem 2rem 1rem 2rem;
  margin-top: 2rem;
}

.clients {
  background-color: var(--secondarygreenSACR);
  color: white;
  text-align: center;
  padding-top: 4rem;
  position: relative;
  z-index: 4;
}

.pattern {
  width: 40%;
  max-width: 200px;
  height: auto;
}

.client-logo {
  width: 40%;
}

.director-picture {
  width: 40%;
  max-width: 110px;
  height: auto;
}

.client-logo {
  margin: 2rem;
}

.about-pattern {
  position: absolute;
  right: -5rem;
  bottom: -5rem;
  overflow: hidden;
  z-index: -1;
}

.director-pattern-circle {
  position: absolute;
  left: -5rem;
  bottom: 35%;
  z-index: -1;
  width: 40%;
}

.director-pattern-square {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.clients-pattern {
  position: absolute;
  left: -5rem;
  top: -5rem;
  z-index: 3;
}

.card__face > h3 {
  color: var(--secondaryblueRAP);
}

.director-picture {
  border-radius: 50%;
  border: 3px solid var(--secondaryblueRAP);
}

.director-grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0 auto;
}

.director-container-button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  position: relative;
  text-align: center;
  bottom: -2.5rem;
  background-color: var(--primarycoral);
}

.director-container-close-button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  position: relative;
  text-align: center;
  bottom: -2.5rem;
  background-color: var(--secondaryblueRAP);
  transform: rotate(45deg);
}

.director-container-button:hover {
  background-color: var(--secondaryblueRAP);
}

.director-container-close-button:hover {
  background-color: var(--primarycoral);
}

.card-back-icon {
  padding: 0.5rem;
}

.card-back-p {
  padding-bottom: 1rem;
}
.container-open-image {
  width: 30%;
}

.director-title {
  font-family: "Livvic", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.scene {
  display: inline-block;
  width: 100%;
  height: 15.75rem;
  margin-top: 3rem;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: 1s;
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
}

/* Tablet */

@media only screen and (min-width: 768px) {
  /* About */

  .about {
    padding-bottom: 7rem;
  }

  .about-heading {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .about-p {
    width: 60%;
    margin: 0 auto;
  }

  .about-pattern {
    position: absolute;
    right: -6.5rem;
    bottom: 0;
  }

  /* Meet the directors */

  .director {
    align-items: center;
  }

  .director-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
    column-gap: 0.5rem;
    row-gap: 2rem;
  }

  .scene {
    display: block;
    width: auto;
  }

  .card {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .director-container-button {
    bottom: -3.5rem;
  }

  .director-container-close-button {
    bottom: -1.5rem;
  }

  .director-pattern-circle {
    bottom: 24.3rem;
  }

  /* Some of our clients */

  .clients {
    padding-top: 6rem;
  }
  .clients-flex {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }

  .client-logo {
    flex-wrap: wrap;
    max-width: 4rem;
    height: 10%;
  }

  .clients-pattern {
    left: 0;
    width: 25%;
    top: -6rem;
  }

  .logo-small {
    max-width: 6rem;
  }

  /* Ready to get started */

  .get-started-grid-container {
    position: relative;
    display: flex;
    justify-content: space-around;
  }

  .mobile-ready-started-container {
    position: relative;
    padding-bottom: 4rem;
    z-index: 0;
  }

  .mobile-ready-start-backgr-img {
    bottom: -1rem;
    width: 20%;
    z-index: 1;
  }

  footer {
    position: relative;
    z-index: 2;
  }
}
