article {
  padding: 48px 24px;
}

.about {
  background-color: var(--primarygreen);
  text-align: center;
  color: white;
  padding-bottom: 8rem;
}

.about-p {
  margin-top: 1rem;
}

.directors {
  background-color: var(--secondarygreenJUN);
  color: white;
  text-align: center;
}

.director-container {
  background-color: var(--secondarygreenSACR);
}

.clients {
  background-color: var(--secondarygreenSACR);
  color: white;
  text-align: center;
}

img {
  width: 40%;
}

.client-logo {
  margin: 2rem;
}
