/* CSS Reset */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Font and color rules */

@font-face {
  font-family: "Livvic";
  src: url(./fonts/Livvic/Livvic-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Livvic";
  src: url(./fonts/Livvic/Livvic-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
}
:root {
  --primarygreen: #014e56;
  --primarycoral: #f67e7e;
  --primarywhite: #ffffff;
  --secondaryblueRAP: #79c8c7;
  --secondarybluePOL: #2c6269;
  --secondarygreenJUN: #004047;
  --secondarygreenSACR: #012f34;
  --secondarygreenDARK: #002529;
}
h1.large {
  font-family: "Livvic", sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
}
h1.small {
  font-family: "Livvic", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 56px;
}
h2 {
  font-family: "Livvic", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
}
h3 {
  font-family: "Livvic", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.body-large,
a,
button {
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
.body-small {
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
}

/* Buttons */

.primary-light {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
  color: white;
  width: 153px;
  height: 48px;
  font-size: large;
}

.primary-light:hover {
  background-color: white;
  border: 2px solid white;
  border-radius: 30px;
  color: rgb(0, 37, 41);
  width: 153px;
  height: 48px;
  font-size: large;
}

.primary-light:disabled {
  background-color: rgb(0, 37, 41);
  border: 2px solid rgb(44, 98, 105, 50%);
  border-radius: 30px;
  color: rgb(44, 98, 105, 50%);
  width: 153px;
  height: 48px;
  font-size: large;
}

.primary-dark {
  background-color: white;
  border: 2px solid rgb(0, 37, 41);
  border-radius: 30px;
  color: rgb(0, 37, 41);
  width: 153px;
  height: 48px;
  font-size: large;
}

.primary-dark:hover {
  background-color: rgb(0, 37, 41);
  border: 2px solid rgb(0, 37, 41);
  border-radius: 30px;
  color: white;
  width: 153px;
  height: 48px;
  font-size: large;
}

.primary-dark:disabled {
  background-color: white;
  border: 2px solid rgb(44, 98, 105, 50%);
  border-radius: 30px;
  color: rgb(44, 98, 105, 50%);
  width: 153px;
  height: 48px;
  font-size: large;
}

.secondary-light {
  background-color: white;
  border-style: none;
  border-radius: 30px;
  color: rgb(0, 37, 41);
  width: 153px;
  height: 48px;
  font-size: large;
}

.secondary-light:hover {
  background-color: rgb(121, 200, 199);
  border-style: none;
  border-radius: 30px;
  color: rgb(0, 37, 41);
  width: 153px;
  height: 48px;
  font-size: large;
}

.secondary-light:disabled {
  background-color: rgb(44, 98, 105, 50%);
  border-style: none;
  border-radius: 30px;
  color: rgb(0, 37, 41);
  width: 153px;
  height: 48px;
  font-size: large;
}

/* Mobile */

/* Header */

header {
  background-color: var(--primarygreen);
  padding: 3rem 1.5rem;
  color: white;
  display: flex;
  justify-content: space-between;
}

nav {
  align-self: center;
}

.hamburger {
  position: relative;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 100;
}

.menu-icon,
.close-icon {
  position: relative;
  top: 0;
  left: 0;
}

.close-icon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: var(--secondarybluePOL);
  list-style: none;
  padding: 4rem 3rem;
}

.show-menu {
  transform: translateX(35%);
}

.menu-item {
  display: block;
  margin: 2rem 0;
}

a {
  color: white;
  text-decoration: none;
}

.nav-circle {
  position: absolute;
  left: 40%;
  bottom: 0;
}

/* mobile-ready-get-started */
.mobile-ready-started-container {
  background-color: var(--primarycoral);
  color: var(--secondarygreenSACR);
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 7rem;
  padding-left: 48px;
  padding-right: 48px;
  position: relative;
}

.mobile-ready-start-button {
  background-color: var(--primarycoral);
  border: solid 1px var(--secondarygreenSACR);
  margin-top: 1rem;
}

.mobile-ready-start-backgr-img {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/* mobile-footer */
.mobile-footer-container {
  background-color: var(--secondarygreenSACR);
  color: var(--primarywhite);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.mobile-footer-link {
  color: var(--primarywhite);
  text-decoration: none;
}

.mobile-footer-icons {
  color: var(--primarywhite);
  word-spacing: 20px;
  text-decoration: none;
}

.mobile-footer-icons:hover {
  color: rgb(121, 200, 199);
}

.mobile-footer-grey-text {
  color: lightgray;
}

@media (max-width: 767px) {
  .hide-item-mobie {
    display: none;
  }
}

@media (min-width: 768px) {
  .hide-item-tablet {
    display: none;
  }
  .heater-container-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding-right: 2rem;
    word-spacing: 3rem;
  }

  .header-menu-horizontal-tablet {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    /* color: red; */
  }
}

@media screen and (min-width: 1440px) {
  /* Footer */
  .desktop-footer {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 2rem;
  }
  .footer-logo {
    grid-column: 1;
  }
  .footer-nav {
    grid-column: 1;
  }
  .address {
    grid-column: 2;
    text-align: left;
  }
  .footer-social {
    grid-column: 4;
  }
  .copyright {
    align-items: left;
  }
  .social-icons {
    margin-left: 25%;
    margin-bottom: 3rem;
  }

  /* Header */

  .header-menu-horizontal-tablet {
    width: 80%;
  }
}
.mobile-footer-link:hover,
.mobile-footer-icons:hover {
  color: var(--primarycoral);
}
